body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  padding: 2em;
}

.red {
  background-color:tomato;
}
.ochre {
  background-color: orange;
}

.salmon {
  background-color: salmon;
}

.seagreen {
  background-color: seagreen;
}

.preview {
  margin: 0 auto;
  width: 50%;
  padding: 1em;
}

form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
}

form input, form select{
  margin: 0.4em;
  font-size: 1.5em;
}